<!DOCTYPE HTML>
<html>
<head>
<title>Data Name of the data &lt;b &amp; &amp;nbsp; </title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<style type="text/css">@media print {a[href^=".."]:after {content: ""} a {text-decoration: underline;}} .padded {padding-top: 5px;}</style>
<link rel="shortcut icon" href="../resources/favicon.ico" />
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
				data-target="#app-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="../index.html">test-name</a>
		</div>
		<div class="collapse navbar-collapse" id="app-navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="../index.html"><i class="fa fa-home"></i> Home</a></li>
				<li><a href="index.html"><i class="fa fa-chevron-left"></i> Section</a></li>
				<li class="dropdown">
					<a id="sections-dropdown" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Sections <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="sections-dropdown">
							<li class="active"><a href="../data/index.html"><i class="fa fa-table"></i> Data</a></li>
					</ul>
				</li>
				<li><a href="../single/index.html"><i class="fa fa-print"></i> Single page</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container-fluid">
<a id="data_full"></a>
<h3><i class="fa fa-table"></i> <span class="text-muted">Data</span> Name of the data &lt;b &amp; &amp;nbsp; </h3>
<strong>Code:</strong> <code>full</code>
<div><strong>Category:</strong> Persistent entity</div>
<div><strong>Description:</strong></div>
<div>Description 1.</div>
<div>Description 2.</div>
<div>Contains
			<strong class="class-1 class-2" title="A title">
				some
				<em class="class-3">HTML code</em>
			</strong>
			and entities: &lt;b &amp; &amp;nbsp; .</div>
<div>Contains
			<a href="../data/dt1.html" title="Dt 1 name">data link &lt;b &amp; &quot; '</a>
			,
			<a href="../data/a-non-referenced-code.html" title="Referenced via refcode">data refcode link &lt;b &amp; &quot; '</a>
			.</div>
<div>Here
			<strong>
				is
				<em>
					some
					<a href="../data/dt1.html" title="Dt 1 name">data link &lt;b &amp; &quot; '</a>
					,
					<a href="../data/a-non-referenced-code.html" title="Referenced via refcode">data refcode link &lt;b &amp; &quot; '</a>
					within
				</em>
				HTML
			</strong>
			.</div>
<div><strong>Attributes:</strong></div>
<table class="table table-striped table-bordered table-hover table-condensed">
<thead>
<tr><th>Name, Code</th><th title="Status">St.</th><th>Type</th><th>Description</th></tr>
</thead><tbody>
<tr><td></td><td></td><td></td><td></td></tr>
<tr><td>Empty</td><td></td><td></td><td></td></tr>
<tr><td>With code <span class="pull-right"><code>withCode</code></span></td><td></td><td></td><td></td></tr>
<tr><td>With all &lt;b &amp; &amp;nbsp;  <span class="pull-right"><code>withAll</code></span></td><td title="Optional"><span class="label label-success">O</span></td><td>String [123]</td><td>Attribute with all options set up. &lt;b &amp; &amp;nbsp;</td></tr>
<tr><td>Display only</td><td title="Display only"><span class="label label-default">D/O</span></td><td></td><td></td></tr>
<tr><td>Optional</td><td title="Optional"><span class="label label-success">O</span></td><td></td><td></td></tr>
<tr><td>Conditional</td><td title="Conditional"><span class="label label-info">C</span></td><td></td><td></td></tr>
<tr><td>Mandatory</td><td title="Mandatory"><span class="label label-primary">M</span></td><td></td><td></td></tr>
<tr><td>Unique</td><td title="Unique"><span class="label label-warning">U</span></td><td></td><td></td></tr>
<tr><td>Natural key</td><td title="Natural key"><span class="label label-warning">NK</span></td><td></td><td></td></tr>
<tr><td>Primary key</td><td title="Primary key"><span class="label label-danger">PK</span></td><td></td><td></td></tr>
<tr><td>Integer</td><td></td><td>Integer</td><td></td></tr>
<tr><td>Float</td><td></td><td>Float</td><td></td></tr>
<tr><td>Decimal</td><td></td><td>Decimal</td><td></td></tr>
<tr><td>Boolean</td><td></td><td>Boolean</td><td></td></tr>
<tr><td>Date</td><td></td><td>Date</td><td></td></tr>
<tr><td>Time</td><td></td><td>Time</td><td></td></tr>
<tr><td>Date time</td><td></td><td>Date-time</td><td></td></tr>
<tr><td>Timestamp</td><td></td><td>Timestamp</td><td></td></tr>
<tr><td>Binary</td><td></td><td>Binary [4098]</td><td></td></tr>
<tr><td>String without length</td><td></td><td>String [ ]</td><td></td></tr>
<tr><td>Binary without length</td><td></td><td>Binary [ ]</td><td></td></tr>
<tr><td>Reference to other structure</td><td></td><td><a href="../data/MasterDetail1.html" title="Detail 1">Detail 1</a></td><td></td></tr>
<tr><td>Collection of integers</td><td></td><td>Collection [Integer]</td><td></td></tr>
<tr><td>Integer with length</td><td></td><td>Integer [3]</td><td>Three digits.</td></tr>
<tr><td>Collection of integers with length</td><td></td><td>Collection [Integer] [10]</td><td>Collection of max 10 integers.</td></tr>
<tr><td>Collection of strings with length</td><td></td><td>Collection [String] [12]</td><td>Collection of max 12 strings.</td></tr>
<tr><td>Collection of other structures</td><td></td><td>Collection [<a href="../data/DetailN.html" title="Detail N">Detail N</a>]</td><td></td></tr>
<tr><td>Collection of other structures with length</td><td></td><td>Collection [<a href="../data/DetailN.html" title="Detail N">Detail N</a>] [5]</td><td>Collection of max 5 instances of DetailN.</td></tr>
<tr><td>Selected detail N</td><td></td><td><a href="../data/DetailN.html" title="Detail N">Detail N</a></td><td></td></tr>
<tr><td>Reference to data via refcode</td><td></td><td><a href="../data/a-non-referenced-code.html" title="Referenced via refcode">Referenced via refcode</a></td><td></td></tr>
<tr><td>Refcode and no code 1</td><td></td><td></td><td>Multiple attributes with refcode and no code 1.</td></tr>
<tr><td>Refcode and no code 2</td><td></td><td></td><td>Multiple attributes with refcode and no code 2.</td></tr>
</tbody>
</table>
<hr/>
<small>Created in <a href="http://uctool.sf.net">uctool.sf.net</a>.</small>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
