<!DOCTYPE HTML>
<html>
<head>
<title>Instance Name of instance &lt;b &amp; &amp;nbsp; </title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<style type="text/css">@media print {a[href^=".."]:after {content: ""} a {text-decoration: underline;}}</style>
<link rel="shortcut icon" href="../resources/favicon.ico" />
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
				data-target="#app-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="../index.html">test-name</a>
		</div>
		<div class="collapse navbar-collapse" id="app-navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="../index.html"><i class="fa fa-home"></i> Home</a></li>
				<li><a href="index.html"><i class="fa fa-chevron-left"></i> Section</a></li>
				<li class="dropdown">
					<a id="sections-dropdown" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Sections <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="sections-dropdown">
							<li><a href="../data/index.html"><i class="fa fa-table"></i> Data</a></li>
							<li class="active"><a href="../instance/index.html"><i class="fa fa-table"></i> Instances</a></li>
					</ul>
				</li>
				<li><a href="../single/index.html"><i class="fa fa-print"></i> Single page</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container-fluid">
<a id="instance_full"></a>
<h3><i class="fa fa-table"></i> <span class="text-muted">Instance</span> Name of instance &lt;b &amp; &amp;nbsp; </h3>
<div><strong>Code:</strong> <code>full</code></div>
<div><strong>Instance of:</strong> <a href="../data/full_data.html" title="Name of instance data &lt;b &amp; &amp;nbsp; ">Name of instance data &lt;b &amp; &amp;nbsp; </a> (<code>full_data</code>)</div>
<div><strong>Description:</strong></div>
<div>Description 1.</div>
<div>Description 2.</div>
<div>Contains
			<strong class="class-1 class-2" title="A title">
				some
				<em class="class-3">HTML code</em>
			</strong>
			and entities: &lt;b &amp; &amp;nbsp; .</div>
<div>Contains
			<a href="../data/dt1.html" title="Dt 1 name">data link &lt;b &amp; &quot; '</a>
			,
			<a href="../data/a-non-referenced-code.html" title="Referenced via refcode">data refcode link &lt;b &amp; &quot; '</a>
			.</div>
<div>Here
			<strong>
				is
				<em>
					some
					<a href="../data/dt1.html" title="Dt 1 name">data link &lt;b &amp; &quot; '</a>
					,
					<a href="../data/a-non-referenced-code.html" title="Referenced via refcode">data refcode link &lt;b &amp; &quot; '</a>
					within
				</em>
				HTML
			</strong>
			.</div>
<div><strong>Values:</strong></div>
<table class="table table-striped table-bordered table-hover table-condensed">
<thead>
<tr><th colspan="3" style="text-align: center;">Instance attribute</th><th rowspan="2" style="text-align: center;">Description</th><th colspan="4" style="text-align: center;">Mapped from</th></tr>
<tr><th>Name, Code</th><th title="Status">St.</th><th>Type</th><th>Data</th><th>Name, Code</th><th title="Status">St.</th><th>Type</th></tr>
</thead><tbody>
<tr>
<td>Full att &lt;b &amp; &amp;nbsp;  <span class="pull-right"><code>fullAtt</code></span></code></td><td title="Mandatory"><span class="label label-primary">M</span></td><td>Collection [String] [23]</td>
 <td>Full atts mapping description.
				Contains
				<strong class="class-1 class-2" title="A title">
					some
					<em class="class-3">HTML code</em>
				</strong>
				and entities: &lt;b &amp; &amp;nbsp; .</td>
<td><a href="../data/dtFullF.html" title="From dt full &lt;b &amp; &amp;nbsp; ">From dt full &lt;b &amp; &amp;nbsp; </a></td><td>From att full &lt;b &amp; &amp;nbsp;  <span class="pull-right"><code>attFullF</code></span></td><td title="Optional"><span class="label label-success">O</span></td><td>Collection [Integer] [45]</td>
</tr>
<tr>
<td>Full att custom types <span class="pull-right"><code>fullAttCustomTypes</code></span></code></td><td title="Primary key"><span class="label label-danger">PK</span></td><td>Collection [<a href="../data/CustomTypeTarget.html" title="Custom type target">Custom type target</a>] [98]</td>
 <td>Full att custom types mapping description.</td>
<td><a href="../data/dtFullCustomTypesF.html" title="From dt full custom types">From dt full custom types</a></td><td>From att custom types full <span class="pull-right"><code>attFullCustomTypesF</code></span></td><td title="Unique"><span class="label label-warning">U</span></td><td>Collection [<a href="../data/CustomTypeSource.html" title="Custom type source">Custom type source</a>] [76]</td>
</tr>
<tr>
<td> <span class="pull-right"><code>attMinimal</code></span></code></td><td></td><td></td>
 <td></td>
<td colspan="4"></td>
</tr>
<tr>
<td>Attribute description only <span class="pull-right"><code>attDesc</code></span></code></td><td></td><td></td>
 <td>With description only.</td>
<td colspan="4"></td>
</tr>
<tr>
<td>Attribute with refc <span class="pull-right"><code>attRfc</code></span></code></td><td></td><td></td>
 <td>Referring to of attribute via refcode.</td>
<td colspan="4"></td>
</tr>
<tr>
<td>Attribute data att <span class="pull-right"><code>attDtAtt</code></span></code></td><td></td><td></td>
 <td>From data attribute.</td>
<td><a href="../data/dtDtAttF.html" title="From dt dt att">From dt dt att</a></td><td>From att of dt att <span class="pull-right"><code>attDtAttF</code></span></td><td></td><td></td>
</tr>
<tr>
<td>Attribute rfcdata att <span class="pull-right"><code>attRfcdtAtt</code></span></code></td><td></td><td></td>
 <td>From data via refcode attribute.</td>
<td><a href="../data/dtRfcdtAttF.html" title="From dt rfc dt att">From dt rfc dt att</a></td><td>From att rfc dt att <span class="pull-right"><code>attRfcdtAttF</code></span></td><td></td><td></td>
</tr>
<tr>
<td>Attribute data rfcatt <span class="pull-right"><code>attDtRfcatt</code></span></code></td><td></td><td></td>
 <td>From data attribute via refcode.</td>
<td><a href="../data/dtDtRfcattF.html" title="From dt dt rfc att">From dt dt rfc att</a></td><td>From att dt rfc att <span class="pull-right"><code>attDtRfcattF</code></span></td><td></td><td></td>
</tr>
<tr>
<td>Attribute rfcdata rfcatt <span class="pull-right"><code>attRfcdtRfcatt</code></span></code></td><td></td><td></td>
 <td>From data via refcode and attribute via refcode.</td>
<td><a href="../data/dtRfcdtRfcattF.html" title="From dt rfc dt rfc att">From dt rfc dt rfc att</a></td><td>From att rfc dt rfc att <span class="pull-right"><code>attRfcdtRfcattF</code></span></td><td></td><td></td>
</tr>
<tr>
<td>Attribute instance <span class="pull-right"><code>attInst</code></span></code></td><td></td><td></td>
 <td>From instance. &lt;b &amp; &amp;nbsp;</td>
<td colspan="4"><a href="../instance/dtAttInstFInst.html" title="From dt inst inst &lt;b &amp; &amp;nbsp; ">From dt inst inst &lt;b &amp; &amp;nbsp; </a></td>
</tr>
</tbody>
</table>
<div><strong>Unmapped data attributes:</strong></div>
<table class="table table-striped table-bordered table-hover table-condensed">
<thead>
<tr><th>Name, Code</th><th title="Status">St.</th><th>Type</th><th>Description</th></tr>
</thead><tbody>
<tr><td>Unmapped &lt;b &amp; &amp;nbsp;  <span class="pull-right"><code>unmapped</code></span><td title="Mandatory"><span class="label label-primary">M</span></td><td>Collection [String] [256]</td><td>This attribute is not mapped by the instance. &lt;b &amp; &amp;nbsp;</td></tr>
</tbody>
</table>
<hr/>
<small>Created in <a href="http://uctool.sf.net">uctool.sf.net</a>.</small>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
