<!DOCTYPE HTML>
<html>
<head>
<title>$ctx.label("actor.goal.list")</title>
#set($rel-path="../")
#parse("template/head.vm")
</head>
<body>
#set($section="actorgoal")
#set($isSection="false")
#parse("template/navbar.vm")
<h2>$ctx.label("actor.goal.list")</h2>
#foreach($actor in $ctx.actorOuts.values())

<h3><i class="fa fa-user"></i> <span class="text-muted">$ctx.label("primary.actor")</span> $actor.name</h3>
#if(!$actor.goals.isEmpty())<div><strong>$ctx.label("goals"):</strong></div>
<ul>
#foreach($goal in $actor.goals)<li>#ref($goal)</li>
#end
</ul>
#end
#end
#parse("template/footer.vm")
</body>
</html>
