#if($ctx.single)
#else
<!DOCTYPE HTML>
<html>
<head>
<title>$ctx.label("actor") $actor.name</title>
#set($rel-path="../")
#parse("template/head.vm")
</head>
<body>
#set($section="actor")
#parse("template/navbar.vm")
#end
<a id="actor_$actor.code"></a>
<h3><i class="fa fa-user"></i> <span class="text-muted">$ctx.label("actor")</span> $actor.name</h3>
#if(!$actor.descriptions.isEmpty())<div><strong>$ctx.label("description"):</strong></div>
#foreach($description in $actor.descriptions)<div>$description</div>
#end
#end
#if(!$actor.extendsActors.isEmpty())<div><strong>$ctx.label("extends.actors"):</strong></div>
<ul>
#foreach($ref in $actor.extendsActors)<li>#ref($ref)</li>
#end
</ul>
#end
#if(!$actor.extendedByActors.isEmpty())<div><strong>$ctx.label("extended.by.actors"):</strong></div>
<ul>
#foreach($ref in $actor.extendedByActors)<li>#ref($ref)</li>
#end
</ul>
#end
#if(!$actor.goals.isEmpty())<div><strong>$ctx.label("goals"):</strong></div>
<ul>
#foreach($ref in $actor.goals)<li>#ref($ref)</li>
#end
</ul>
#end
#if(!$actor.inheritedActors.isEmpty())<div><strong>$ctx.label("inherited.actors"):</strong></div>
<ul>
#foreach($ref in $actor.inheritedActors)<li>#ref($ref)</li>
#end
</ul>
#end
#if(!$actor.inheritedGoals.isEmpty())<div><strong>$ctx.label("inherited.goals"):</strong></div>
<ul>
#foreach($ref in $actor.inheritedGoals)<li>#ref($ref)</li>
#end
</ul>
#end
#if(! $ctx.single)
#parse("template/footer.vm")
</body>
</html>
#end
