#if($ctx.single)
#else
<!DOCTYPE HTML>
<html>
<head>
<title>$ctx.label("actor.index")</title>
#set($rel-path="../")
#parse("template/head.vm")
</head>
<body>
#set($section="actor")
#set($isSection="true")
#parse("template/navbar.vm")
#end
<h2>$ctx.label("actor.index")</h2>
<div class="list-group">
#foreach($actor in $ctx.actorOuts.values())#actorRef($actor,"list-group-item")
#end</div>
#if(! $ctx.single)
#parse("template/footer.vm")
</body>
</html>
#end
