#if($ctx.single)
#else
<!DOCTYPE HTML>
<html>
<head>
<title>Actors overview</title>
#set($rel-path="../")
#parse("template/head.vm")
</head>
<body>
#set($section="actor")
#set($isSection="true")
#parse("template/navbar.vm")
#end
<h2>Actors overview</h2>
<ul class="nav nav-tabs nav-stacked">
#foreach($actor in $ctx.actorOuts.values())<li>#actorRef($actor)</li>
#end</ul>
#if(! $ctx.single)
#parse("template/footer.vm")
</body>
</html>
#end
