#if($ctx.single)
#else
<!DOCTYPE HTML>
<html>
<head>
<title>$ctx.label("data") $data.name</title>
#set($rel-path="../")
#parse("template/head.vm")
</head>
<body>
#set($section="data")
#parse("template/navbar.vm")
#end
<a id="data_$data.code"></a>
<h3><i class="fa fa-table"></i> <span class="text-muted">$ctx.label("data")</span> $data.name</h3>
<strong>$ctx.label("code"):</strong> <code>$data.code</code>
#if($data.hasCategory())<div><strong>$ctx.label("category"):</strong> $data.category</div>
#end
#if(!$data.descriptions.isEmpty())<div><strong>$ctx.label("description"):</strong></div>
#foreach($description in $data.descriptions)<div>$description</div>
#end
#end
#if(!$data.attributes.isEmpty())<div><strong>$ctx.label("attributes"):</strong></div>
<table class="table table-striped table-bordered table-hover table-condensed">
<thead>
<tr><th>$ctx.label("name.code")</th><th title="$ctx.label("status")">$ctx.label("status_abbr")</th><th>$ctx.label("type")</th><th>$ctx.label("description")</th></tr>
</thead><tbody>
#foreach($attribute in $data.attributes)<tr><td>$attribute.nameAndCodeLabel</td><td#if($attribute.statusHint) title="$attribute.statusHint"#end>$attribute.statusLabel</td><td>$attribute.type</td><td>$attribute.description</td></tr>
#end</tbody>
</table>
#end
#if(!$data.referencesData.isEmpty())<div><strong>$ctx.label("references.data"):</strong>
#foreach($ref in $data.referencesData)#ref($ref)#if( $foreach.hasNext ),#end
$newline#end</div>
#end
#if(!$data.referencesUcs.isEmpty())<div><strong>$ctx.label("references.uc"):</strong>
#foreach($ref in $data.referencesUcs)#ref($ref)#if( $foreach.hasNext ),#end
$newline#end</div>
#end
#if(! $ctx.single)
#parse("template/footer.vm")
</body>
</html>
#end
