#if($ctx.single)
#else
<!DOCTYPE HTML>
<html>
<head>
<title>$ctx.label("data.index")</title>
#set($rel-path="../")
#parse("template/head.vm")
</head>
<body>
#set($section="data")
#set($isSection="true")
#parse("template/navbar.vm")
#end
<h2>$ctx.label("data.index")</h2>
<table class="table table-striped table-bordered table-hover table-condensed">
<thead>
<tr>
<th><i class="fa fa-table"></i> $ctx.label("data")</th>
<th>$ctx.label("code")</th>
<th>$ctx.label("category")</th>
</tr>
</thead>
<tbody>
#foreach($data in $ctx.dataOuts.values())
<tr>
<td>#dataRef($data)</td>
<td><code>$data.code</code></td>
<td>$data.category</td>
</tr>
#end
</tbody>
</table>
#if(! $ctx.single)
#parse("template/footer.vm")
</body>
</html>
#end
