<!DOCTYPE HTML>
<html>
<head>
<title>Entry point list</title>
#set($rel-path="../")
#parse("template/head.vm")
</head>
<body>
#set($section="entry")
#set($isSection="false")
#parse("template/navbar.vm")
<h2>Entry point list</h2>
<table class="table table-striped table-bordered table-hover table-condensed">
<thead>
<tr>
<th><i class="icon-user"></i> Primary actor</th>
<th><i class="icon-bolt"></i> Goal</th>
<th>Level</th>
</tr>
</thead>
<tbody>
#foreach($uc in $ctx.useCaseOuts.values())
#if(!$ctx.ucReferences.containsKey($uc.code))
<tr>
<td>$uc.primaryActor.name</td>
<td><a href="../uc/${uc.code}.html" title="$uc.code - $uc.goal">$uc.code - $uc.goal</a></td>
<td align="center">
#if($uc.levelTitle)<img src="../resources/${uc.level}.gif" alt="$uc.levelTitle" title="$uc.levelTitle"/>
#else&nbsp;
#end
</td>
</tr>
#end
#end
</tbody>
</table>
#parse("template/footer.vm")
</body>
</html>
