<!DOCTYPE HTML>
<html>
<head>
<title>$ctx.project.name - Analytical Documentation</title>
#set($rel-path="")
#parse("template/head.vm")
</head>
<body>
#set($section="home")
#parse("template/navbar.vm")
<h1>Analytical Documentation</h1>
<p class="lead">Name: $ctx.project.name<br/>
Version: $ctx.project.version</p>
<p class="lead">$ctx.project.description</p>
<p>Welcome to the analytical documentation site. Please follow the links below. Start exploring the site by clicking on the following link.</p>
<div style="margin-left: 100px;">Start here <i class="fa fa-arrow-right"></i> &nbsp;
	<a class="btn btn-success btn-lg" href="summary/entry-point-list.html">Entry point list
 &nbsp; <i class="fa fa-chevron-right"></i></a></div>
<h3>Sections</h3>
<div class="list-group">
<a href="summary/index.html" class="list-group-item"><i class="fa fa-sitemap"></i> Overview pages</a>
#if($ctx.actors.size()>0)<a href="actor/index.html" class="list-group-item"><i class="fa fa-user"></i> Actors
	<span class="badge">$ctx.actors.size()</span></a>
#end
#if($ctx.useCases.size()>0)<a href="uc/index.html" class="list-group-item"><i class="fa fa-file-text-o"></i> Use cases
	<span class="badge">$ctx.useCases.size()</span></a>
#end
#if($ctx.datas.size()>0)<a href="data/index.html" class="list-group-item"><i class="fa fa-table"></i> Data
	<span class="badge">$ctx.datas.size()</span></a>
#end
#if($ctx.instances.size()>0)<a href="instance/index.html" class="list-group-item"><i class="fa fa-table"></i> Instances
	<span class="badge">$ctx.instances.size()</span></a>
#end
#if($ctx.requirements.size()>0)<a href="req/index.html" class="list-group-item"><i class="fa fa-list"></i> Requirements
	<span class="badge">$ctx.requirements.size()</span></a>
#end
#if($ctx.attachments.size()>0)<a href="attachment/index.html" class="list-group-item"><i class="fa fa-picture-o"></i> Attachments
	<span class="badge">$ctx.attachments.size()</span></a>
#end
#if($ctx.terms.size()>0)<a href="glossary/index.html" class="list-group-item"><i class="fa fa-search"></i> Glossary
	<span class="badge">$ctx.terms.size()</span></a>
#end
</div>
<div><a class="btn btn-default" href="single/index.html"><i class="fa fa-print"></i> Whole documentation on single page (print format)</a></div>
<hr/>
<a href="../index.html"><i class="fa fa-chevron-left"></i> Project documentation</a>
#parse("template/footer.vm")
</body>
</html>
