#if($ctx.single)
#else
<!DOCTYPE HTML>
<html>
<head>
<title>$ctx.label("instance.index")</title>
#set($rel-path="../")
#parse("template/head.vm")
</head>
<body>
#set($section="instance")
#set($isSection="true")
#parse("template/navbar.vm")
#end
<h2>$ctx.label("instance.index")</h2>
<table class="table table-striped table-bordered table-hover table-condensed">
<thead>
<tr>
<th><i class="fa fa-table"></i> $ctx.label("instance")</th>
<th>$ctx.label("code")</th>
<th>$ctx.label("instance.of")</th>
</tr>
</thead>
<tbody>
#foreach($instance in $ctx.instanceOuts.values())
<tr>
<td>#instanceRef($instance)</td>
<td><code>$instance.code</code></td>
<td>#dataRef($instance.of)</td>
</tr>
#end
</tbody>
</table>
#if(! $ctx.single)
#parse("template/footer.vm")
</body>
</html>
#end
