<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
				data-target="#app-navbar-collapse">
				<span class="sr-only">$ctx.label("toggle.navigation")</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="${rel-path}index.html">$ctx.project.name</a>
		</div>
		<div class="collapse navbar-collapse" id="app-navbar-collapse">
			<ul class="nav navbar-nav">
				<li#if($section=="home") class="active"#end><a href="${rel-path}index.html"><i class="fa fa-home"></i> $ctx.label("home")</a></li>
				<li#if($isSection=="true") class="active"#end><a href="index.html"><i class="fa fa-chevron-left"></i> $ctx.label("section")</a></li>
				<li class="dropdown">
					<a id="sections-dropdown" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">$ctx.label("sections") <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="sections-dropdown">
#if($ctx.actors.size()>0)							<li#if($section=="actor") class="active"#end><a href="${rel-path}actor/index.html"><i class="fa fa-user"></i> $ctx.label("actors")</a></li>
#end
#if($ctx.useCases.size()>0)							<li#if($section=="uc") class="active"#end><a href="${rel-path}uc/index.html"><i class="fa fa-file-text-o"></i> $ctx.label("use.cases")</a></li>
#end
#if($ctx.datas.size()>0)							<li#if($section=="data") class="active"#end><a href="${rel-path}data/index.html"><i class="fa fa-table"></i> $ctx.label("datas")</a></li>
#end
#if($ctx.instances.size()>0)							<li#if($section=="instance") class="active"#end><a href="${rel-path}instance/index.html"><i class="fa fa-table"></i> $ctx.label("instances")</a></li>
#end
#if($ctx.terms.size()>0)							<li#if($section=="glossary") class="active"#end><a href="${rel-path}glossary/index.html"><i class="fa fa-search"></i> $ctx.label("glossary")</a></li>
#end
					</ul>
				</li>
				<li><a href="${rel-path}single/index.html"><i class="fa fa-print"></i> $ctx.label("single.page.short")</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container-fluid">
