<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="../index.html">test-name</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="../index.html"><i class="icon-home"></i> Home</a></li>
					<li><a href="index.html"><i class="icon-chevron-left"></i> Section</a></li>
					<li><a href="../summary/entry-point-list.html">Entry point list <i class="icon-chevron-right"></i></a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Sections <b class="caret"></b> </a>
						<ul class="dropdown-menu">
							<li><a href="../summary/index.html"><i class="icon-sitemap"></i> Overview pages</a></li>
							<li#if($section=="actor") class="active">#end<a href="../actor/index.html"><i class="icon-user"></i> Actors</a></li>
							<li><a href="../uc/index.html"><i class="icon-file"></i> Use cases</a></li>
							<li><a href="../data/index.html"><i class="icon-table"></i> Data structures</a></li>
							<li><a href="../req/index.html"><i class="icon-list"></i> Requirements</a></li>
							<li><a href="../attachment/index.html"><i class="icon-picture"></i> Attachments</a></li>
							<li><a href="../glossary/index.html"><i class="icon-search"></i> Glossary</a></li>
						</ul>
					</li>
					<li><a href="../single/index.html"><i class="icon-print"></i> Single page</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="container">
