<!DOCTYPE HTML>
<html>
<head>
<title>$ctx.label("single.page.title")</title>
#set($rel-path="../")
#parse("template/head.vm")
</head>
<body>
<div class="container">
<h1>$ctx.label("single.page.title")</h1>
<p class="lead">$ctx.label("name"): test-name<br/>
$ctx.label("version"): test-version</p>
<p class="lead">test-description</p>
