<!DOCTYPE HTML>
<html>
<head>
<title>$ctx.label("single.page.title")</title>
#set($rel-path="../")
#parse("template/head.vm")
</head>
<body>
<div class="container">
<h1 class="page-header">$ctx.project.name <small>$ctx.label("version") $ctx.project.version</small></h1>
<p class="lead">$ctx.project.description</p>
