<!DOCTYPE HTML>
<html>
<head>
<title>Overview pages list</title>
#set($rel-path="../")
#parse("template/head.vm")
</head>
<body>
#set($section="summary")
#set($isSection="true")
#parse("template/navbar.vm")
<h2>Overview pages list</h2>
<div class="list-group">
#if($ctx.useCases.size()>0)<a href="entry-point-list.html" class="list-group-item">Entry point list</a>
#end
#if($ctx.actors.size()>0)<a href="actor-goal-list.html" class="list-group-item">Actor-goal list</a>
#end
#if($ctx.datas.size()>0)<a href="unused-data-list.html" class="list-group-item">Unused data list</a>
#end
</div>
#parse("template/footer.vm")
</body>
</html>
