<!DOCTYPE HTML>
<html>
<head>
<title>$ctx.label("summary.index")</title>
#set($rel-path="../")
#parse("template/head.vm")
</head>
<body>
#set($section="summary")
#set($isSection="true")
#parse("template/navbar.vm")
<h2>$ctx.label("summary.index")</h2>
<div class="list-group">
#if($ctx.useCases.size()>0)<a href="entry-point-list.html" class="list-group-item">$ctx.label("entry.point.list")</a>
#end
#if($ctx.actors.size()>0)<a href="actor-goal-list.html" class="list-group-item">$ctx.label("actor.goal.list")</a>
#end
#if($ctx.datas.size()>0)<a href="unused-data-list.html" class="list-group-item">$ctx.label("unused.data.list")</a>
#end
</div>
#parse("template/footer.vm")
</body>
</html>
