<!DOCTYPE HTML>
<html>
<head>
<title>Use Case $uc.code - $uc.goal</title>
#set($rel-path="../")
#parse("template/head.vm")
</head>
<body>
#set($section="uc")
#parse("template/navbar.vm")
<a id="uc_$uc.code"></a>
<h3><i class="icon-file"></i> <span class="muted">Use case</span> $uc.code - #if($uc.typeImageName)<img src="../resources/${uc.typeImageName}.gif" alt="$uc.visibilityTitle, $uc.typeTitle" title="$uc.visibilityTitle, $uc.typeTitle"/>&nbsp;#end$uc.goal#if($uc.level)&nbsp;<img src="../resources/${uc.level}.gif" alt="$uc.levelTitle" title="$uc.levelTitle"/>#end</h3>
<table>
#if($uc.scope)<tr><td><strong>Scope:</strong> $uc.scope</td></tr>
#end
#if($uc.typeTitle or $uc.visibilityTitle or $uc.levelTitle)<tr><td>
#if($uc.typeTitle)<strong>Type:</strong> $uc.typeTitle&nbsp;&nbsp;
#end
#if($uc.visibilityTitle)<strong>Visibility:</strong> $uc.visibilityTitle&nbsp;&nbsp;
#end
#if($uc.levelTitle)<strong>Level:</strong> $uc.levelTitle
#end</td></tr>
#end<tr><td><strong>Primary actor:</strong> <a href="../actor/${uc.primaryActor.code}.html" title="${uc.primaryActor.name}">${uc.primaryActor.name}</a></td></tr>
#if(!$uc.descriptions.isEmpty())<tr><td><strong>Description:</strong>
#foreach($description in $uc.descriptions)<div>$description</div>
#end</td></tr>
#end
#if(!$uc.interests.isEmpty())<tr><td><strong>Stakeholders and interests:</strong></td></tr>
#foreach($interest in $uc.interests)<tr><td>$interest.stakeholder: $interest.content</td></tr>
#end
#end
#if(!$uc.preconditions.isEmpty())<tr><td><strong>Preconditions:</strong>
<ul>
#foreach($precondition in $uc.preconditions)$precondition
#end</ul></td></tr>
#end
#if(!$uc.minimalGuarantees.isEmpty())<tr><td><strong>Minimal guarantees:</strong>
<ul>
#foreach($minimalGuarantee in $uc.minimalGuarantees)$minimalGuarantee
#end</ul></td></tr>
#end
#if(!$uc.successGuarantees.isEmpty())<tr><td><strong>Success guarantees:</strong>
<ul>
#foreach($successGuarantee in $uc.successGuarantees)$successGuarantee
#end</ul></td></tr>
#end
#if($uc.trigger)<tr><td><strong>Trigger:</strong> $uc.trigger</td></tr>
#end
#if(!$uc.steps.isEmpty())<tr><td><strong>Main success scenario:</strong></td></tr>
<tr><td class="layout">
#foreach($step in $uc.steps)<table><tr><td class="layout">${step.number}.&nbsp;</td><td class="layout">$step.content</td></tr></table>
#end</td></tr>
#end
#if(!$uc.extensions.isEmpty())<tr><td><strong>Extensions:</strong></td></tr>
<tr><td class="layout">
#foreach($extension in $uc.extensions)<table><tr><td class="layout">$extension.indent$extension.number.&nbsp;</td><td class="layout">$extension.content</td></tr></table>
#end</td></tr>
#end
#if($uc.notes)<tr><td><strong>Notes:</strong>
<div>$uc.notes</div>
</td></tr>
#end
#if(!$uc.references.isEmpty())<tr><td><strong>References:</strong>
#foreach($ref in $uc.references)#ref($ref)
$newline#end</td></tr>
#end</table>
#parse("template/footer.vm")
</body>
</html>
