<!DOCTYPE HTML>
<html>
<head>
<title>Use case code003 - Use case steps and extensions test</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<style type="text/css">@media print {a[href^=".."]:after {content: ""} a {text-decoration: underline;}}</style>
<link rel="shortcut icon" href="../resources/favicon.ico" />
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
				data-target="#app-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="../index.html">test-name</a>
		</div>
		<div class="collapse navbar-collapse" id="app-navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="../index.html"><i class="fa fa-home"></i> Home</a></li>
				<li><a href="index.html"><i class="fa fa-chevron-left"></i> Section</a></li>
				<li class="dropdown">
					<a id="sections-dropdown" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Sections <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="sections-dropdown">
							<li><a href="../actor/index.html"><i class="fa fa-user"></i> Actors</a></li>
							<li class="active"><a href="../uc/index.html"><i class="fa fa-file-text-o"></i> Use cases</a></li>
							<li><a href="../data/index.html"><i class="fa fa-table"></i> Data</a></li>
							<li><a href="../glossary/index.html"><i class="fa fa-search"></i> Glossary</a></li>
					</ul>
				</li>
				<li><a href="../single/index.html"><i class="fa fa-print"></i> Single page</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container-fluid">
<a id="uc_code003"></a>
<h3><i class="fa fa-file-text-o"></i> <span class="text-muted">Use case</span> code003 - <img src="../resources/black-system.gif" alt="Black-box, System" title="Black-box, System"/>&nbsp;Use case steps and extensions test</h3>
<table>
<tr><td><strong>Scope:</strong> Scope 1</td></tr>
<tr><td>
<strong>Type:</strong> System&nbsp;&nbsp;
<strong>Visibility:</strong> Black-box&nbsp;&nbsp;
</td></tr>
<tr><td><strong>Primary actor:</strong> <a href="../actor/primary-actor-for-use-cases.html" title="Primary actor for Use cases">Primary actor for Use cases</a></td></tr>
<tr><td><strong>Main success scenario:</strong></td></tr>
<tr><td style="vertical-align: text-top;">
<table><tr><td style="vertical-align: text-top;">1.&nbsp;</td><td style="vertical-align: text-top;">User selects to create a customer.</td></tr></table>
<table><tr><td style="vertical-align: text-top;">2.&nbsp;</td><td style="vertical-align: text-top;">User enters customer data.</td></tr></table>
<table><tr><td style="vertical-align: text-top;">3.&nbsp;</td><td style="vertical-align: text-top;">Go to step
					6
					.</td></tr></table>
<table><tr><td style="vertical-align: text-top;">4.&nbsp;</td><td style="vertical-align: text-top;">System
					<a href="../uc/CD105.html" title="CD105 - Referenced use case 2">creates a new customer</a>
					.</td></tr></table>
<table><tr><td style="vertical-align: text-top;">5.&nbsp;</td><td style="vertical-align: text-top;">Return to step
					1
					or
					3
					.</td></tr></table>
<table><tr><td style="vertical-align: text-top;">6.&nbsp;</td><td style="vertical-align: text-top;">Any other step.</td></tr></table>
</td></tr>
<tr><td><strong>Extensions:</strong></td></tr>
<tr><td style="vertical-align: text-top;">
<table><tr><td style="vertical-align: text-top;">*a.&nbsp;</td><td style="vertical-align: text-top;">Power failure:</td></tr></table>
<table><tr><td style="vertical-align: text-top;">&nbsp;&nbsp;&nbsp;&nbsp;*a1.&nbsp;</td><td style="vertical-align: text-top;">Nothing.</td></tr></table>
<table><tr><td style="vertical-align: text-top;">*b.&nbsp;</td><td style="vertical-align: text-top;">Sun sets: Nothing too.</td></tr></table>
<table><tr><td style="vertical-align: text-top;">1a.&nbsp;</td><td style="vertical-align: text-top;">User selects to update a customer:</td></tr></table>
<table><tr><td style="vertical-align: text-top;">&nbsp;&nbsp;&nbsp;&nbsp;1a1.&nbsp;</td><td style="vertical-align: text-top;">User
						<a href="../uc/CD100.html" title="CD100 - Referenced use case 1">finds customer</a>
						using customer search criteria.</td></tr></table>
<table><tr><td style="vertical-align: text-top;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1a1a.&nbsp;</td><td style="vertical-align: text-top;">Customer not found:</td></tr></table>
<table><tr><td style="vertical-align: text-top;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1a1a1.&nbsp;</td><td style="vertical-align: text-top;">User modifies customer search criteria and finds again or cancels.</td></tr></table>
<table><tr><td style="vertical-align: text-top;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1a1a2.&nbsp;</td><td style="vertical-align: text-top;">System performs as requested.</td></tr></table>
<table><tr><td style="vertical-align: text-top;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1a1a2a.&nbsp;</td><td style="vertical-align: text-top;">System error: Failure.</td></tr></table>
<table><tr><td style="vertical-align: text-top;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1a1a2b.&nbsp;</td><td style="vertical-align: text-top;">Power failure:</td></tr></table>
<table><tr><td style="vertical-align: text-top;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1a1a2b1.&nbsp;</td><td style="vertical-align: text-top;">What then?</td></tr></table>
<table><tr><td style="vertical-align: text-top;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1a1a2b2.&nbsp;</td><td style="vertical-align: text-top;">Failure.</td></tr></table>
<table><tr><td style="vertical-align: text-top;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1a1a2b3.&nbsp;</td><td style="vertical-align: text-top;">Return to step
										1
										or
										3
										.</td></tr></table>
<table><tr><td style="vertical-align: text-top;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1a1a2b4.&nbsp;</td><td style="vertical-align: text-top;">Anything.</td></tr></table>
<table><tr><td style="vertical-align: text-top;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1a1a2b4a.&nbsp;</td><td style="vertical-align: text-top;">After ref-step: Whatever.</td></tr></table>
<table><tr><td style="vertical-align: text-top;">&nbsp;&nbsp;&nbsp;&nbsp;1a2.&nbsp;</td><td style="vertical-align: text-top;">User modifies customer data.</td></tr></table>
<table><tr><td style="vertical-align: text-top;">&nbsp;&nbsp;&nbsp;&nbsp;1a3.&nbsp;</td><td style="vertical-align: text-top;">System validates customer data and updates customer data.</td></tr></table>
<table><tr><td style="vertical-align: text-top;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1a3a.&nbsp;</td><td style="vertical-align: text-top;">Customer data validation fails:</td></tr></table>
<table><tr><td style="vertical-align: text-top;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1a3a1.&nbsp;</td><td style="vertical-align: text-top;">User corrects customer data and has system update it.</td></tr></table>
<table><tr><td style="vertical-align: text-top;">1b.&nbsp;</td><td style="vertical-align: text-top;">User selects to delete a customer:</td></tr></table>
<table><tr><td style="vertical-align: text-top;">&nbsp;&nbsp;&nbsp;&nbsp;1b1.&nbsp;</td><td style="vertical-align: text-top;">User
						<a href="../uc/CD105.html" title="CD105 - Referenced use case 2">finds customer</a>
						using customer search criteria.</td></tr></table>
<table><tr><td style="vertical-align: text-top;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1b1a.&nbsp;</td><td style="vertical-align: text-top;">Customer not found:</td></tr></table>
<table><tr><td style="vertical-align: text-top;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1b1a1.&nbsp;</td><td style="vertical-align: text-top;">User modifies customer search criteria and finds again or cancels.</td></tr></table>
<table><tr><td style="vertical-align: text-top;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1b1a2.&nbsp;</td><td style="vertical-align: text-top;">System performs.</td></tr></table>
<table><tr><td style="vertical-align: text-top;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1b1b.&nbsp;</td><td style="vertical-align: text-top;">Multiple customers found:</td></tr></table>
<table><tr><td style="vertical-align: text-top;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1b1b1.&nbsp;</td><td style="vertical-align: text-top;">User modifies customer search criteria and finds again or cancels.</td></tr></table>
<table><tr><td style="vertical-align: text-top;">&nbsp;&nbsp;&nbsp;&nbsp;1b2.&nbsp;</td><td style="vertical-align: text-top;">User confirms deleting the customer.</td></tr></table>
<table><tr><td style="vertical-align: text-top;">&nbsp;&nbsp;&nbsp;&nbsp;1b3.&nbsp;</td><td style="vertical-align: text-top;">System updates customer data.</td></tr></table>
<table><tr><td style="vertical-align: text-top;">3a.&nbsp;</td><td style="vertical-align: text-top;">User enters other data: Nothing.</td></tr></table>
<table><tr><td style="vertical-align: text-top;">3b.&nbsp;</td><td style="vertical-align: text-top;">User enters yet other data:</td></tr></table>
<table><tr><td style="vertical-align: text-top;">&nbsp;&nbsp;&nbsp;&nbsp;3b1.&nbsp;</td><td style="vertical-align: text-top;">Nothing as well.</td></tr></table>
<table><tr><td style="vertical-align: text-top;">3‑6a.&nbsp;</td><td style="vertical-align: text-top;">Something happens: Do this.</td></tr></table>
<table><tr><td style="vertical-align: text-top;">3‑6b.&nbsp;</td><td style="vertical-align: text-top;">When with a reference to step
						2
						and
						<a href="../data/Empty.html" title="Empty">data reference</a>:</td></tr></table>
<table><tr><td style="vertical-align: text-top;">&nbsp;&nbsp;&nbsp;&nbsp;3‑6b1.&nbsp;</td><td style="vertical-align: text-top;">Step for when element test.</td></tr></table>
<table><tr><td style="vertical-align: text-top;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3‑6b1a.&nbsp;</td><td style="vertical-align: text-top;">When in step condition with a reference to step
								2
								and
								<a href="../data/Empty.html" title="Empty">data reference</a>:</td></tr></table>
<table><tr><td style="vertical-align: text-top;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3‑6b1a1.&nbsp;</td><td style="vertical-align: text-top;">Step for when element on step condition.</td></tr></table>
</td></tr>
<tr><td><strong>References:</strong>
<a href="../uc/code001.html" title="code001 - Use case header fields test">code001 - Use case header fields test</a>
</td></tr>
</table>
<hr/>
<small>Created in <a href="http://uctool.sf.net">uctool.sf.net</a>.</small>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
