<!DOCTYPE HTML>
<html>
<head>
<title>Requirement req02 - Reference</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
<meta http-equiv="pragma" content="no-cache" />
<link rel="stylesheet" type="text/css" href="../resources/css/styles.css"/>
<link rel="shortcut icon" href="../resources/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="../index.html">test-name</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="../index.html"><i class="icon-home"></i> Home</a></li>
					<li><a href="index.html"><i class="icon-chevron-left"></i> Section</a></li>
					<li><a href="../summary/entry-point-list.html">Entry point list <i class="icon-chevron-right"></i></a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Sections <b class="caret"></b> </a>
						<ul class="dropdown-menu">
							<li><a href="../summary/index.html"><i class="icon-sitemap"></i> Overview pages</a></li>
							<li><a href="../actor/index.html"><i class="icon-user"></i> Actors</a></li>
							<li><a href="../uc/index.html"><i class="icon-file"></i> Use cases</a></li>
							<li><a href="../data/index.html"><i class="icon-table"></i> Data structures</a></li>
							<li class="active"><a href="../req/index.html"><i class="icon-list"></i> Requirements</a></li>
							<li><a href="../attachment/index.html"><i class="icon-picture"></i> Attachments</a></li>
							<li><a href="../glossary/index.html"><i class="icon-search"></i> Glossary</a></li>
						</ul>
					</li>
					<li><a href="../single/index.html"><i class="icon-print"></i> Single page</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="container">
<a id="req_req02"></a>
<h3><i class="icon-list"></i> <span class="muted">Requirement</span> req02 - Reference&nbsp;<img src="../resources/clam.gif" alt="Very detailed" title="Very detailed"/></h3>
<table>
	<tr><td><strong>Status:</strong> Pending</td></tr>
	<tr><td><strong>Priority:</strong> Low</td></tr>
	<tr><td><strong>Area:</strong> </td></tr>
	<tr><td><strong>Type:</strong> Nonfunctional</td></tr>
	<tr><td><strong>Level:</strong> Very detailed</td></tr>
	<tr><td><strong>Origin:</strong> </td></tr>
	<tr><td>Some description.     
	</td></tr>
<tr><td><strong>References in use cases:</strong>
<a href="../uc/req-ref-01.html" title="req-ref-01 - Use case references to requirement">req-ref-01 - Use case references to requirement</a>,
<a href="../uc/req-ref-03.html" title="req-ref-03 - UC ref to req from description">req-ref-03 - UC ref to req from description</a>
</td></tr>
<tr><td><strong>References in actors:</strong>
<a href="../actor/req-actor-01.html" title="Req actor 1">Req actor 1</a>,
<a href="../actor/req-actor-02.html" title="Req actor 2">Req actor 2</a>
</td></tr>
<tr><td><strong>References in data structures:</strong>
<a href="../data/req-data-structure-01.html" title="Req data structure 1">Req data structure 1</a>,
<a href="../data/req-data-structure-02.html" title="Req data structure 2">Req data structure 2</a>
</td></tr>
<tr><td><strong>References in requirements:</strong>
<a href="../req/req04.html" title="req04 - Referenced requirement">req04 - Referenced requirement</a>
</td></tr>
</table>
<hr/>
<small>Created in <a href="http://uctool.sf.net">uctool.sf.net</a>.</small>
</div>
<script src="../resources/js/scripts.js" type="text/javascript"></script>
</body>
</html>
